*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
i{
    position: absolute;
    left: 350px;
    top: 20px;
    font-size: 30px;
    overflow-y: hidden;
    animation: notstationary 10s ease-in-out infinite reverse;
}
h1{
    font-size: 35px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 10px 1px 10px rgb(0, 0, 0);            
}
@keyframes notstationary{
    0%{
        transform: rotateZ(0deg);
        left: 350px;
    }
    15%{
        transform: rotateZ(180deg);
        left: 400px;
    }
    30%{
        transform: rotateZ(270deg);
        left: 600px;
    }
    45%{
        transform: rotateZ(360deg);
        left: 800px;
    }
    60%{
        transform: rotateZ(430deg);
        left: 1000px;
    }
    75%{
        transform: rotateZ(520deg);
        left: 1200px;
    }
    90%{
        transform: rotateZ(620deg);
        left: 1300px;
    }
    
    
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    position: relative;
    width: 32%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 7px;
    margin-left: 7px;
    border-radius: 10px;
    transition: 1s;
    overflow-y: hidden;

}
.card img{
    border: none;
    object-fit: cover;
    height: 400px;
    width: 100%;
    filter: grayscale(100%);
    border-radius: 10px;
    transition: 1s;
}
figcaption{
    position: absolute;
    font-weight: bolder;
    color: white;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    transition: 1s;
}

.card:hover{
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
    overflow-y: hidden;
    figcaption{
        opacity: 1;
    }
    #img3{
        transform: scale(1.4);
        filter: grayscale(0%);
    }
    img{
        transform: scale(1.2);
        filter: grayscale(0%);
    }
}
@media screen and (min-width: 1046.600px){
    
}